{# templates/Connexion/signup.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}
  <section class="gradient-form h-full flex justify-center bg-neutral-200 dark:bg-neutral-700">
    <div class="container h-full p-10">
      <div class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
        <div class="w-full">
          <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
            <div class="g-0 lg:flex lg:flex-wrap">
              <!-- Left column container-->
              <div class="px-4 md:px-0 lg:w-6/12">
                <div class="md:mx-6 md:p-12">
                  <!--Logo-->
                  <div class="text-center">
                    <img class="mx-auto w-48" src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" alt="logo" />
                  </div>

                  {{ form_start(registrationForm) }}
                    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

                    <!-- Email input -->
                    <div class="relative mb-4" data-te-input-wrapper-init>
                    {{ form_row(registrationForm.email, {
                          'attr': {
                              'class': 'form-control peer block min-h-[auto] w-full rounded border-0 bg-white dark:bg-neutral-900 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0',
                          }
                      }) }}
                    </div>

                    <!-- Password input -->
                    <div class="relative mb-4" data-te-input-wrapper-init>
                      {{ form_row(registrationForm.password, {
                          'attr': {
                              'class': 'form-control peer block min-h-[auto] w-full rounded border-0 bg-white dark:bg-neutral-900 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0',

                          }
                      }) }}
                    </div>

                    <!-- ConfirmPassword input -->
                    <div class="relative mb-4" data-te-input-wrapper-init>
                      {{ form_row(registrationForm.confirm_Password, {
                          'attr': {
                              'class': 'form-control peer block min-h-[auto] w-full rounded border-0 bg-white dark:bg-neutral-900 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0',

                          }
                      }) }}
                    </div>

                    <!-- Info complementaire -->
                    <div class="relative mb-4 grid md:grid-cols-2 xl:grid-cols-2 gap-6" data-te-input-wrapper-init>
                      {{ form_row(registrationForm.prenom, {
                          'attr': {
                              'class': 'form-control peer block min-h-[auto] w-full rounded border-0 bg-white dark:bg-neutral-900 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0',

                          }
                      }) }}
                      {{ form_row(registrationForm.nom, {
                          'attr': {
                              'class': 'form-control peer block min-h-[auto] w-full rounded border-0 bg-white dark:bg-neutral-900 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0',

                          }
                      }) }}
                      {{ form_row(registrationForm.pseudo, {
                          'attr': {
                              'class': 'form-control peer block min-h-[auto] w-full rounded border-0 bg-white dark:bg-neutral-900 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0',

                          }
                      }) }}
                      {{ form_row(registrationForm.tel, {
                          'attr': {
                              'class': 'form-control peer block min-h-[auto] w-full rounded border-0 bg-white dark:bg-neutral-900 px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0',

                          }
                      }) }}
                    </div>
                    
                    <!-- Agree Terms Checkbox -->
                    {{ form_row(registrationForm.agreeTerms) }}

                    <!-- Submit button -->
                    <button 
                      class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]" 
                      type="submit"
                      data-te-ripple-init
                      data-te-ripple-color= "light"
                      style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);">
                      Sign up
                    </button>
                    
                    <div class="flex items-center justify-between pb-6">
                        <a class="mb-0 mr-2 text-purple-600" href="/login">Already have an account?</a>
                    </div>
                  {{ form_end(registrationForm) }}
                </div>
              </div>

              <!-- Right column container with background and description-->
              <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none" style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)">
                <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                  <h4 class="mb-6 text-xl font-semibold">We are more than just a company</h4>
                  <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block script %}
  <script> 
    // Initialization for ES Users
    import {
      Input,
      Ripple,
      initTE,
    } from "tw-elements";

    initTE({ Input, Ripple });
  </script>
{% endblock %}
